<h1 mat-dialog-title>Editar despesa</h1>
<mat-dialog-content>
  <form [formGroup]="expenseForm">
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field appearance="fill">
          <input
            type="number"
            matInput
            required
            formControlName="expense"
            placeholder="0.00"
            width="100%"
            autocomplete="off">
          <mat-error>Valor é um campo obrigatório</mat-error>
          <mat-icon matPrefix>attach_money</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h4>Editar usuários na despesa</h4>
    <ul>
      <li *ngFor="let item of users">
        <mat-checkbox
          required
          color="primary"
          [checked]="checked.includes(item.userId) ? true : false"
          (change)="checkUsers(item.userId)">{{item.fullName}}</mat-checkbox>
      </li>
    </ul>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
    mat-raised-button
    [disabled]="expenseForm.invalid"
    color="primary"
    tabindex="1"
    (click)="updateExpense()">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>
